.story {
  display: grid;

  grid-template-rows: repeat(auto-fill, minmax(20rem, 1fr));

  &__item {
    display: grid;

    grid-template-columns: [c1] 14rem [ c2 c3 ] 1fr [ c4 c5 ] 14rem [c6];
    grid-template-rows: 20rem;
    grid-column-gap: 2rem;
    align-items: end;
    justify-content: center;

    @include breakpoint(large) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      align-items: start;
    }

    @media (hover: none) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      align-items: start;
    }
  }

  &__title {
    align-items: end;
    margin-bottom: 0;

    @include breakpoint(large) {
      align-items: start;
    }

    @media (hover: none) {
      align-items: start;
    }

    &--1 {
      grid-column: c1 / c2;
      grid-row: 1 / 2;
      text-align: start;

      @include breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
        width: 100%;
      }

      @media (hover: none) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
        width: 100%;
      }

      & > h2:after {
        //This is the gradient bar under the title
        content: '';
        width: 100%;
        border-radius: 2px;
        top: 4.5rem;
        height: 2px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-top: 0.5rem;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);

        @include breakpoint(large) {
          width: 8rem;
          margin-left: auto;
        }

        @media (hover: none) {
          width: 8rem;
          margin-left: auto;
        }
      }
    }

    &--2 {
      grid-column: c5 / c6;
      grid-row: 1 / 2;
      text-align: end;

      @include breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
        width: 100%;
      }

      @media (hover: none) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
        width: 100%;
      }

      & > h2:after {
        content: '';
        width: 100%;
        border-radius: 2px;
        top: 4.5rem;
        height: 2px;
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0.5rem;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);

        @include breakpoint(large) {
          width: 8rem;
          margin-right: auto;
        }

        @media (hover: none) {
          width: 8rem;
          margin-right: auto;
        }
      }
    }
  }

  &__description {
    padding: 0 2rem;
    align-self: center;
    justify-content: center;

    @include breakpoint(large) {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(medium) {
      max-width: 100%;
      padding: 0;
    }

    @media (hover: none) {
      // max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    & > ul {
      list-style: none;
      text-align: left;

      & > li {
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1;
        // border-bottom: 1px solid #e1e1e1;
        margin-left: 5rem;

        @include breakpoint(xlarge) {
          margin-left: 2rem;
        }

        @include breakpoint(large) {
          margin-left: 0;
          width: 100%;
        }

        @include breakpoint(medium) {
          font-size: 0.8rem;
          padding-top: 0.5;
          padding-left: 0;
        }

        &::before {
          content: '';
          display: inline-block;
          height: 1rem;
          width: 1.1rem;
          margin-right: 7px;

          @supports (-webkit-mask-image: url()) or (webkit-mask-image: url()) {
            background-color: #48bbc4;
            -webkit-mask-image: url(../../assets/images/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../../assets/images/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
          }
        }
      }

      & > a {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        margin-bottom: 0;
        font-size: 1rem;
      }
    }

    &--1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      @include breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      @media (hover: none) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }

    &--2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      @include breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      @media (hover: none) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }
  }

  &__cover {
    justify-content: stretch;
    overflow: hidden;
    height: 20rem;
    position: relative;
    background-color: rgba(orangered, 0.5);
    @include breakpoint(large) {
      background-color: rgba(0, 0, 0, 0);
    }

    &--start {
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 40% 100%);
      grid-row: 1 / 2;
      grid-column: 1 / span 3;
      transition: 0.4s ease;
      background: linear-gradient(
          to right,
          rgba(196, 72, 113, 0.2),
          rgba(196, 72, 113, 0.4)
        ),
        url(../../assets/images/balloon.jpg);
      background-size: cover;

      @include breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);

        background: linear-gradient(
            to right,
            rgba(196, 72, 113, 0.2),
            rgba(196, 72, 113, 0.4)
          ),
          url(../../assets/images/balloon.jpg);
        background-size: cover;
      }

      @media (hover: none) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);

        background: linear-gradient(
            to right,
            rgba(196, 72, 113, 0.2),
            rgba(196, 72, 113, 0.4)
          ),
          url(../../assets/images/balloon.jpg);
        background-size: cover;
      }
    }

    &--end {
      // position: relative;
      grid-row: 1 / 2;
      grid-column: 1 / span 3;
      background: linear-gradient(
          to right,
          rgba(72, 187, 196, 0.2),
          rgba(72, 187, 196, 0.4)
        ),
        url(../../assets/images/market.png);
      background-size: cover;

      transition: 0.4s ease;
      clip-path: polygon(0 0, 85% 0, 60% 100%, 0% 100%);

      @include breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

        background: linear-gradient(
            to right,
            rgba(72, 187, 196, 0.2),
            rgba(72, 187, 196, 0.4)
          ),
          url(../../assets/images/market.png);
        background-size: cover;
      }

      @media (hover: none) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

        background: linear-gradient(
            to right,
            rgba(72, 187, 196, 0.2),
            rgba(72, 187, 196, 0.4)
          ),
          url(../../assets/images/market.png);
        background-size: cover;
      }
    }
  }

  @media (hover: hover) and (min-width: 1280px) {
    &__item:hover &__cover--start {
      clip-path: polygon(75% 0, 100% 0, 100% 100%, 85% 100%);
    }

    &__item:hover &__cover--end {
      clip-path: polygon(0 0, 25% 0, 15% 100%, 0% 100%);
    }
  }
}
